<div>
    <div class="jumbotron">
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Using styles property in the component</h3>
        </div>
        <div class="panel-body">
            <div class="sty01 sty02">Style applied using styles property</div>
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Using styleUrls property in the component</h3>
        </div>
        <div class="panel-body">
            <div class="sty03">Style applied using styleUrls property</div>
        </div>
    </div>
</div>